* {
  box-sizing: border-box;
}
body {
  background: url(../images/back.jpg) center center no-repeat fixed;
  background-size: cover;
}

.titleIMG {
  height: 200px;
}

.titleDiv {
  position: static;
  margin-top: 20px;
  text-align: center;
}

.title {
  margin: auto;
  width: 1000px;
}

.rpgGame {
  font-family: 'Teko', sans-serif;
  color: #e4a572;
  font-size: 30px;
  position: relative;
  top: -32px;
}

.selectionContainer {
  position: relative;
  text-align: center;
  display: none;
}

.character {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  background-color: #000;
  color: #e4a572;
  padding: 5px 20px 5px 20px;
  margin: 0 10px 0 10px;
  cursor: pointer;
  border: 1px solid transparent;
}

.character p {
  line-height: 2;
}

.character:hover {
  border: 1px #e4a572 solid;
}

.selectText {
  font-family: 'Roboto', sans-serif;
  color: #e4a572;
  margin-top: 20px;
  font-size: 30px;
  background-color: #000;
  padding: 10px;
  width: 800px;
  margin: 20px auto 0 auto;
}

.fightBoard {
  width: 1000px;
  margin: auto;
  text-align: center;
  display: block;
}

.attackBtn {
  background-color: #bbb;
  font-size: 30px;
  height: 50px;
  margin: 140px 0 0 0;
  border: 2px #000 solid;
  border-radius: 5px;
  display: block;
}

.attackBtn:active {
  background-color: tomato;
}

.fightContainer {
  display: flex;
  width: 1000px;
  justify-content: space-around;
  margin: 0 auto 0 auto;
}

.boardText {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin: 10px;
  text-shadow: 2px 2px 3px #e4a572;
  white-space: nowrap;
}

.selectOpponent {
  font-family: 'Roboto', sans-serif;
  background: transparent;
  width: 192px;
  height: 229px;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 3px #e4a572;
  border: #000 1px solid;
  margin: 0 0 0 15px;
}

.selectOpponent p {
  padding-top: 30px;
}

.popupDiv {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 310px;
  right: 330px;
  width: 250px;
  height: 210px;
  text-align: center;
  color: tomato;
  text-shadow: 2px 2px 3px #000;
  z-index: -1;
  font-size: 20px;
}

.popup1 {
  margin-top: 20px;
}

.popup2 {
  margin-top: 120px;
}

.restart {
  background-color: #bbb;
  font-size: 30px;
  height: 50px;
  margin: 140px 0 0 0;
  border: 2px #000 solid;
  border-radius: 5px;
  animation-name: restart;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  cursor: pointer;
  display: none;
}

.restart:hover {
  border: 2px #e4a572 solid;
}

@keyframes restart {
  0% {
    background-color: #bbb;
  }
  50% {
    background-color: tomato;
  }
}
